@charset "utf-8";
/* CSS Document */

#main {
    width: auto;
    height: auto;
    margin: 0 auto;
}
#header {
    width: auto;
    height: auto;
    margin: 0 auto;
}
#center {
    width: 1000px;
    height: auto;
    margin: 0 auto;
    display: none;
}
#centern {
    width: 1000px;
    height: auto;
    margin: 0 auto;
}
#footer {
    clear: both;
    width: auto;
    height: 276px;
    margin: 0 auto;
    background:url(../image/footer.jpg) repeat-x;
    margin-top: 15px;
    text-align: center;
}
#footer .memt-di{ width:980px; height:77px; margin:0 auto; background:url(../image/footer-logo.jpg) no-repeat right top}
#footer .memt-di ul li{ width:80px; height:77px; float:left; text-align:center; line-height:77px;}
#footer .memt-di ul li a{ color:#fff; font-size:14px;}
#footer .memt-di ul li a:hover{ text-decoration:underline}
#footer .txt{ width:980px; height:195px; margin:0 auto; clear:both}

body {
    font-size: 12px;
    color: #5e5d5b;
    background: #fff;
    font-family:'微软雅黑','Microsoft YaHei';

}
a {
    color: #5e5d5b;
    font-size: 12px;
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
.topn {
    width: 100%; background:#fff;
    height: 78px;
    margin: 0 auto;
    position:fixed;
    left:0;
    top:0px;
    z-index:999;
    border-bottom: 1px solid #ebebeb
}
.topn .logon {
    width: 138px;
    height: 78px;
    margin: 0 auto;
}
div.btn {
    position:fixed;
    left:0;
    top:79px;
    z-index:999;
    width: 100%;
    height: 47px;
    margin: 0 auto;
    text-align: center;
    background:#fff;
}
div.btn ul {
    text-align: center;
    display: inline-table
}
div.btn ul li {
    float: left;
    display: inline;
    width: 84px;
    height: 47px;
    text-align: center;
    line-height: 47px;
    color: #ceb493;
    font-size: 14px;
    font-family: '微软雅黑'
}
div.btn ul li a {
    display: block;
    width: 84px;
    height: 47px;

}
div.btn ul li:hover {
    background: url(../image/bt-h.jpg) center bottom no-repeat;
    color: #666666;
}
div.btn ul li.action {
    background: url(../image/bt-h.jpg) center bottom no-repeat;
    color: #666666;
}
.flashn { padding-top:58px;  }
.return {
    width: 250px;
    height: 94px;
    margin: 0 auto;
    margin-top: 20px;
    cursor: pointer
}
#ment {
    width: 100%;
    height: 57px;
    position: fixed;
    overflow:visible;
    left: 0;
    top: 0;
    z-index: 999999;

}



#ment .an {
    width: 71px;
    height: 57px;
    float: left;
    display: inline;
    cursor: pointer
}
#ment .nr {
    height: 55px;
    border-top: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;
    position: absolute;
    width: 100%;
    margin-left: 71px;
    overflow:hidden;
    background: #fff
}
.ment-el{ position:absolute; right:50px; width:120px; height:40px; top:6px; overflow:visible}
#ment .wx-tc{ width:243px; height:240px; position:absolute; right:30px; top:40px; z-index:9999; display:none;  overflow:visible}
#ment .wb-tc{ width:246px; height:260px; position:absolute; right:30px; top:40px; z-index:9999; display:none;  overflow:visible}
.ment-el .ment-txt{ height:40px; line-height:40px; float:left; display:none}
.ment-el .ment-ico{}
.ment-el .ment-ico span{ margin-left:5px; width:40px; height:40px; display:block; float:left}
#ment .nr ul li {
    width: 100px;
    height: 55px;
    text-align: center;
    line-height: 55px;
    float: left;
    display: inline
}
#ment .nr ul li a {
    color: #333333;
    font-size: 14px;
    font-family: '微软雅黑'
}
#ment .nr ul li:hover {
    background:url(../image/ment-h.jpg) no-repeat bottom center
}
/*分页*/
div.pager {
    text-align: center;
    margin: 0 auto;
    padding-bottom: 3px;
}
div.pager span {
    margin-left: 8px;
    margin-right: 8px;
}
div.pager a {
    margin-left: 8px;
    margin-right: 8px;
    text-decoration: none;
}
/*新闻*/
ul.news {
    clear: both;
    margin: 0px;
    padding: 0px;
    margin-top: 5px;
}
ul.news li {
    background: url(../image/new_li.jpg) 0 7px no-repeat;
    height: 26px;
    line-height: 26px;
    text-indent: 21px;
    margin-left: 12px;
}
ul.news li a {
    text-decoration: none;
}
ul.news1 {
    clear: both;
    margin: 0px;
    padding: 0px;
    margin-top: 15px;
}
ul.news1 li {
    background: url(../image/new_li.jpg) no-repeat 2px center;
    height: 13px;
    line-height: 13px;
    margin-top: 9px;
    text-indent: 18px;
}
ul.news1 li a {
    text-decoration: none;
}
/*产品分类*/


.producttype {
    margin-top: 5px;
}
.producttype0 {
    width: 198px;
    height: 28px;
    background: url(../image/p_li.jpg) no-repeat;
    text-indent: 28px;
    margin-left: 11px;
    padding-bottom: 3px;
    overflow: hidden
}
.producttype0 a {
    color: #000;
    line-height: 28px;
}
.producttype0 a:hover {
    color: #fe6209;
    line-height: 28px;
}
/*下载*/
ul.downloads {
    clear: both;
    margin: 0px;
    padding: 0px;
    padding-top: 5px;
}
ul.downloads li {
    margin-bottom: 5px;
}
ul.downloads li a {
    text-decoration: none;
}
div {
    overflow: hidden
}
.newstitle {
    text-align: center;
    font-weight: bold;
}
